$vula-divider-thickness = 5px
$vula-divider-handle-color = #ccc
$vula-divider-handle-color-hover = #999
$vula-divider-handle-color-bg = #ededed
$vula-divider-handle-color-bg-hover = #ddd
$vula-divider-handle-length = 36px

$vula-tabs-border-color = #bbb

$vula-tab-color= #333
$vula-tab-bg= #fff
$vula-tab-color-hover = #111
$vula-tab-color-active = #000
$vula-tab-bg-hover = #ddd
$vula-tab-border-color-hover = #666
$vula-tab-border-color-active = #222
$vula-tab-close-color = #fff
$vula-tab-close-bg = #ccc
$vula-tab-close-bg-hover = #666
$vula-tab-close-border-color = #555

.vula__theme__default,
  .vula__container,
  &.vula__container
    &--horizontal,
    &--vertical
      .vula__divider
        position relative
        box-sizing border-box
        background-color: $vula-divider-handle-color-bg
        transition background-color 0.2s
        // Handle pseudo-element
        &::before
          content ''
          position absolute
          top 50%
          left 50%
          border solid 0px $vula-divider-handle-color
          transition background-color 0.2s
        &:hover
          background-color $vula-divider-handle-color-bg-hover
          &::before
            border-color $vula-divider-handle-color-hover
            border-style dotted
    &--horizontal
      > .vula__divider
        width $vula-divider-thickness !important
        margin-left -1px
        &::before
          transform translateY(-50%)
          height $vula-divider-handle-length
          width 1px
          margin-left -2px
          border-right-width 2px
          border-left-width 2px
    &--vertical
      > .vula__divider
        height $vula-divider-thickness !important
        margin-top -1px
        &::before
          transform translateX(-50%)
          height 1px
          width $vula-divider-handle-length
          margin-top -2px
          border-top-width 2px
          border-bottom-width 2px

  // FIXME: if empty
  .vula__tabs
    > nav
      border-bottom 0.2em solid $vula-tabs-border-color

    .vula__tab
      all initial
      cursor pointer
      padding 0.5em
      border-bottom 0.2em solid $vula-tabs-border-color
      margin-bottom -0.2em
      line-height 1em
      background $vula-tab-bg
      color $vula-tab-color
      // FIXME: some times user can drag without the hover style
      &:hover
        background $vula-tab-bg-hover
        color $vula-tab-color-hover
        border-bottom-color $vula-tab-border-color-hover
        transition all 0.3s

      &--active
        border-bottom-color $vula-tab-border-color-active
        transition all 0.4s
        .vula__tab__title
          color $vula-tab-color-active

      .vula__tab__title
        font-family: sans-serif

      button.vula__tab__close
        all initial
        box-sizing border-box
        cursor pointer
        height 1em
        width 1em
        margin-left 0.25em
        border 0.1em solid $vula-tab-close-border-color
        border-radius 100%
        background $vula-tab-close-bg
        color $vula-tab-close-color
        &::before
          content '×'
          display inline-block
          height 0.8em
          width 0.8em
          line-height 0.8em
          text-align center
          vertical-align top
        &:hover
          background $vula-tab-close-bg-hover

  .vula--dragging
    opacity 0.5 !important
    filter blur(0.05em) !important

  // TODO
  .vula--drag-entered
    opacity 0.5
    // NOTE: Keep the same opacity on hidden
    &.vula--dragging,
    .vula--dragging
      opacity 1 !important
