$vula-divider-thickness = 1px

.vula__layout,
.vula__container,
.vula__window,
.vula__pane,
.vula__divider,
.vula__tabs
  box-sizing border-box

.vula__container
  height 100%
  width 100%

  &--horizontal,
  &--vertical
    display flex
    height 100%
    width 100%
    overflow auto

    > .vula__divider
      z-index 10

  &--horizontal
    flex-direction row

    > .vula__divider
      width $vula-divider-thickness
      min-width 1px
      height 100%
      // Center the divider
      &::before
        transform translateX(-50%)
      &:hover
        cursor col-resize

  &--vertical
    flex-direction column

    > .vula__divider
      height $vula-divider-thickness
      min-height 1px
      width 100%
      // Center the divider
      &::before
        transform translateY(-50%)
      &:hover
        cursor row-resize

.vula__window
  position relative
  cursor pointer

  &--dragging
    cursor move

.vula__tabs
  display flex
  flex-direction column
  height 100%
  width 100%

  > nav
    flex-direction row
    > a.vula__tab
      display inline-flex

  > .vula__tabs__content
    height 100%
    width 100%

.vula--dragging
  // When the tab is being dragged

// TODO
.vula--drag-entered
  // When dragging an object over a dropable element
