<script setup lang="ts">
import type { ID, Direction, Layout, Pane } from '@/types/'
import { TabsManaged, TabsUseTabs } from './components/'
import { generateTab } from './utils/'

interface PaneGenerator {
  id: ID
  direction?: Direction
  tabNumber?: number
}

const generatePane = ({ id, direction, tabNumber }: PaneGenerator): Pane => {
  tabNumber || (tabNumber = 0)

  let tabs = []
  for (let i = 0; i < tabNumber; i++) {
    tabs.push(generateTab())
  }

  return {
    id,
    direction,
    size: 50,
    tabs
  }
}

const panes: Record<string, Array<Pane> | Record<string, Pane>> = {
  root: {
    left: generatePane({ id: 'root.left', direction: 'horizontal' }),
    right: generatePane({ id: 'root.right', direction: 'vertical' })
  },
  right: {
    up: generatePane({ id: 'right.up', direction: 'horizontal' }),
    middleUp: generatePane({ id: 'right.middleUp' }),
    middleMiddle: generatePane({ id: 'right.middleMiddle' }),
    middleDown: generatePane({ id: 'right.middleDown' }),
    down: generatePane({ id: 'right.down', direction: 'vertical' })
  },
  rightUp: [
    generatePane({ id: 'rightUp.0', tabNumber: 3 }),
    generatePane({ id: 'rightUp.1' }),
    generatePane({ id: 'rightUp.2' }),
    generatePane({ id: 'rightUp.3' })
  ],
  rightDown: [
    generatePane({ id: 'rightDown.0' }),
    generatePane({ id: 'rightDown.1', tabNumber: 4 })
  ]
}

const layout: Layout = {
  direction: 'horizontal',
  tabGroups: [
    { tabs: panes.rightUp[0].tabs },
    { tabs: panes.rightUp[3].tabs },
    {
      tabs: panes.rightDown[1].tabs,
      activeTabId: panes.rightDown[1].tabs[1].id
    }
  ]
}
</script>

<template lang="pug">
.example
  tabs-managed
  //- tabs-use-tabs
</template>

<style lang="styl">
.example
  position absolute
  top 10px
  right 10px
  bottom 10px
  left 10px

  .vula__layout
    border 10px solid #444
</style>
