<script lang="ts">
export default { name: 'VulaDivider' }
</script>

<script setup lang="ts">
import { ref } from 'vue'
import type { Ref } from 'vue'
import { useMovable } from '@/composables/'
import { logError } from '@/utils/'

interface Emits {
  (event: 'move', value: MouseEvent): void
}

const emit = defineEmits<Emits>()

const dividerRef: Ref<unknown> = ref(null)

// TODO: throtle or similar?
const onMouseMove = (event: MouseEvent): void => {
  const element = dividerRef.value as HTMLElement

  if (!element) {
    logError('`VulaDivider` is not ready yet')
  } else {
    emit('move', event)
  }
}

const { onMouseDown, onMouseUp } = useMovable(dividerRef, { onMouseMove })
</script>

<template lang="pug">
.vula__divider(
  ref='dividerRef'
  @mousedown='onMouseDown'
  @mouseup='onMouseUp'
)
</template>
