<script lang="ts">
export default { name: 'VulaTabs' }
</script>

<script setup lang="ts">
import {
  h,
  provide,
  reactive,
  ref,
  toRaw,
  unref,
  useSlots,
  vShow,
  watch,
  withDirectives
} from 'vue'
import type { Slot, VNode, WatchStopHandle } from 'vue'
import { DATA_TYPES, INJECTION_KEY_TAB_GROUP } from '@/constants/'
import { useDrop, useTabs } from '@/composables/'
import type { ID, MaybeRef, Tab } from '@/types/'
import { difference, isNil, traverseSlot } from '@/utils/'

interface Props {
  active?: MaybeRef<ID>
}

interface Emits {
  // A tab has been activated.
  (event: 'activated', value: Tab): void
  // A tab has been opened for the first time.
  (event: 'opened', value: Tab): void
  // A tab has been closed
  (event: 'closed', value: Tab): void
  // TODO: decide if it is useful enough
  (event: 'empty'): void
}

const props = defineProps<Props>()

// TODO: when manipulating the tabs outside the composable, the active tab ID is not changing according that:
// solution or docs for using non-reactive tabs since removals are not detected until activating other tabs

const emit = defineEmits<Emits>()

const {
  activate: activateTab,
  active,
  find: findTab,
  isActive,
  isEmpty,
  remove: removeTab,
  tabs,
  wasActive,
  wasRemoved
} = useTabs()

// Provide the `tabGroup` to each `vula-tab` that is going to be rendered, so
// their `Tab` data can be collected by this component and they could check the active tab too.
provide(INJECTION_KEY_TAB_GROUP, reactive({ active, tabs }))

/*
 * The default slot could:
 * - Be empty
 * - Hold an individual tab (`vula-tab(...)`)
 * - Hold a list of tabs (`vula-tab(...)` several times)
 * - Hold a list of tabs with v-for (`vula-tab(v-for...)`)
 * - Hold other things (comments, etc.)
 */
const traverseDefaultSlot = (callback: (vNode: VNode) => void) => {
  const slots = useSlots()
  if (slots.default) {
    // TODO: ensure the nodes are `VulaTab` only => add an attribute to mark those nodes?
    traverseSlot(slots.default, callback)
  } else {
    throw new Error(
      '`VulaTabs` requires using the default slot to define the tabs'
    )
  }
}

/**
 * Check if the `VNode` is disabled by a `v-if` directive which value is `false`.
 * In that case that Vue adds a comment (`<!--v-if-->`) as placeholder.
 */
const isVIfComment = (vNode: VNode): boolean => vNode.children === 'v-if'

// Are the initial tabs collected?
let initialTabsAreReady = false

// Traverse the default slot to get the initial number of `VulaTab` (ignore those disabled by `v-if`)
let initialTabNumber = 0
// NOTE: Triggers a Vue warning, but in this case it can be ignored, since no dependency
// has to be tracked. TODO: avoid that warning
traverseDefaultSlot(vNode => {
  if (!isVIfComment(vNode)) {
    initialTabNumber++
  }
})

// Emit on every activation.
//
// NOTE: it is also triggered when the active tab is removed.
//
// NOTE: It should not emit the activate event until the initial tabs are ready,
// so this `watch` block should be evaluated before changing `initialTabsAreReady`
// the first time.
watch(active, activeTab => {
  if (initialTabsAreReady && activeTab) {
    emit('activated', toRaw(activeTab) as Tab)
  }
})

// Watch the active tab prop to set the reactive variable when the prop changes.
watch(
  () => props.active,
  activeId => {
    if (activeId) {
      activateTab(activeId as ID)
    }
  }
)

// No initial tabs means that it is not necessary to wait until having collected
// al the tabs to start emitting `activated` events in the next `watch` block.
if (initialTabNumber === 0) {
  initialTabsAreReady = true
}

/*
 * Watch until having collected the expected number of tabs (`VulaTab` on the default slot).
 * This is necessary to set the initial active tab, since they are added one by one,
 * which provokes that the active tab ID is calculated on every insertion, and then,
 * that it is different than the initial tab ID passed to this component.
 */
watch(
  () => new Set(tabs),
  (current, previous) => {
    // Only after having opened for the first time the initial tabs
    if (initialTabsAreReady) {
      const added = difference(current, previous),
        removed = difference(previous, current)

      added.forEach((tab: Tab) => emit('opened', toRaw(tab)))
      removed.forEach((tab: Tab) => emit('closed', toRaw(tab)))

      if (!current.size) {
        // TODO: evaluate if this event is useful enough (it could be replaced by other ideas)
        emit('empty')
      }

      // The first time the initial tabs are collected
    } else if (current.size === initialTabNumber) {
      // Set the initial tab ID (fallback to last tab)
      activateTab(unref(props.active) || tabs[tabs.length - 1].id)

      initialTabsAreReady = true
    }
  }
)

const tabsHeaderRef = ref(null)

const inferTargetTabId = (target: HTMLElement): null | ID => {
  if (target.classList.contains('vula__tab')) {
    return target.id
  }
  return null
}

const inferTargetTabPosition = (
  _event: DragEvent,
  _target: HTMLElement
): number => {
  return 0
}

const inferTargetTabGroupPosition = (
  _event: DragEvent,
  _target: HTMLElement
): number => {
  return 0
  // TODO: at the beginning or the end
  // if (target.classList.contains('vula__tabs__header')) {
  //   // Get the panel ID, which is also the tab group ID
  //   return target.parentElement.parentElement.id
  // }
  // return null
}

const inferTabPosition = (event: DragEvent, target: HTMLElement): number => {
  const targetTabId = inferTargetTabId(target)
  return targetTabId
    ? inferTargetTabPosition(event, target)
    : inferTargetTabGroupPosition(event, target)
}

/**
 * There are several cases:
 *  - [ ] Dropped on the same position: do nothing
 * TODO:
 *  - [ ] Dropped over a different tab: insert it before it
 *  - [ ] Dropped between tabs: insert it between them
 *  - [ ] Dropped on the tab header, before all the tabs: insert at the beginning
 *  - [ ] Dropped on the tab header, after all the tabs: insert it at the end
 *  - [ ] Dropped on a different tab group: insert the tab there applying the other rules
 */
const onDrop = (event: DragEvent, data: any, target: HTMLElement) => {
  const draggedTab = findTab(data)

  // Ignore other drop events
  if (draggedTab) {
    const position = inferTabPosition(event, target)
    // moveTab(draggedTab.id, { groupId: tabGroup.id, position })
  }
}

/**
 * There are several cases:
 *  - [ ] Dropped on the tab content
 */
const onDropContent = (event: DragEvent) => {
  const data = event.dataTransfer?.getData(DATA_TYPES.TAB)
  if (data) {
  }
}

// TODO: dragging between tabs should move to reflect the gap that the dragged tap would occupy
const { onDragOver, onDrop: onDropTabs } = useDrop({
  target: tabsHeaderRef,
  dataType: DATA_TYPES.TAB,
  onDrop
})

/**
 * Header area: displays the header of each tab.
 */
const VulaTabsHeader = () => {
  const headerProps = {
    ref: tabsHeaderRef,
    class: 'vula__tabs__header vula--droppable',
    // TODO: add event listeners globally, on `VulaLayout` only?
    onDragover: onDragOver,
    onDrop: onDropTabs
  }
  const headerComponents: Array<VNode> = []

  const setDefaultProps = (vNode: VNode, props: Record<string, any>) => {
    if (!vNode.props) {
      vNode.props = {}
    }
    for (const prop in props) {
      if (!vNode.props!.hasOwnProperty(prop)) {
        vNode.props![prop] = props[prop]
      }
    }
  }

  const onActivate = (tab: Tab) => {
    activateTab(tab.id)
  }
  const onClose = (tab: Tab) => {
    removeTab(tab.id)
  }

  // TODO: do not rely only in ID to determine that the `VNode` is a valid tab`
  traverseDefaultSlot((vNode: VNode) => {
    setDefaultProps(vNode, {
      onActivate,
      onClose
    })
    headerComponents.push(vNode)
  })

  return h('nav', headerProps, headerComponents)
}

/**
 * Content area: displays the content of the active tab.
 *
 * Includes:
 *  - The active tab content, visible.
 *  - The content of all that has been rendered previously, hidden.
 *  - Placeholders for those tabs that has not been rendered yet, hidden.
 *
 * Their visibility is set by the `v-show` directive.
 *
 * NOTE: The placeholders are empty nodes that are replaced with the content of the tabs
 * the first time they are activated. Without these placeholder, new DOM nodes
 * would be inserted instead, provoking that the subsequent nodes are re-rendered.
 */
const VulaTabsContent = () => {
  const contentClass = 'vula__tabs__content'
  const contentProps = {
    class: contentClass,
    onDrop: onDropContent
  }
  const contentComponents: Array<VNode> = []

  const addContentComponent = (options: {
    slot?: Slot | null
    props?: { class: string }
    isShown?: boolean
  }) => {
    const { slot, props, isShown } = {
      props: contentProps,
      isShown: false,
      ...options
    }
    // NOTE: `null` is used as the placeholder
    const contentComponent = h('div', props, (slot ? slot() : null) as any)
    contentComponents.push(withDirectives(contentComponent, [[vShow, isShown]]))
  }

  // Add the slot `empty` if it is defined
  const slots = useSlots()
  if (slots.empty) {
    const props = {
      ...contentProps,
      class: `${contentClass} ${contentClass}--empty`
    }
    addContentComponent(
      isEmpty.value ? { props, slot: slots.empty, isShown: true } : { props }
    )
  }

  // Add the content of each `VulaTab` child that has been activated or a placeholder
  traverseDefaultSlot((vNode: VNode) => {
    // If the `VulaTab` component is disabled by `v-if`, then its content is not rendered
    if (!isVIfComment(vNode)) {
      const tabId = vNode.props?.id
      if (isNil(tabId)) {
        throw new Error('Tabs must have an `id`')
      }
      addContentComponent(
        wasActive(tabId) && !wasRemoved(tabId)
          ? { slot: (vNode.children as any).default, isShown: isActive(tabId) }
          : {}
      )
    }
  })

  // TODO: fail if no active tabs
  // throw new Error('`VulaTabs` requires that one tab is active')

  return contentComponents as any
}
</script>

<template lang="pug">
.vula__tabs
  //- FIXME: header (default theme) should occupy the same height when empty
  vula-tabs-header
    slot

  //- Content of the slot of the active tab or the slot `empty`
  vula-tabs-content
    slot
</template>
