<script lang="ts">
export default { name: 'VulaTab' }
</script>

<script setup lang="ts">
import { computed, inject, ref, toRaw, toRefs } from 'vue'
import { DATA_TYPES, INJECTION_KEY_TAB_GROUP } from '@/constants/'
import { useDrag } from '@/composables/'
import { generateId, isUndefined } from '@/utils/'
import type { ID, Tab } from '@/types/'

// NOTE: duplicated due limitation on SFC
interface Props {
  readonly id?: ID
  readonly isClosable?: boolean
  readonly isDraggable?: boolean
  readonly isDroppable?: boolean
  // TODO: optional when using slot title
  readonly title: string
}

interface Emits {
  (event: 'activate', value: Tab): void
  (event: 'close', value: Tab): void
}

const props = withDefaults(defineProps<Props>(), {
  id: (() => generateId('vula-tab')) as unknown as ID,
  isClosable: false,
  isDraggable: false,
  isDroppable: false
})
const emit = defineEmits<Emits>()

const tabGroup = inject(INJECTION_KEY_TAB_GROUP)
if (isUndefined(tabGroup)) {
  throw new Error('Tab must be used within a tab group')
}

const tab: Tab = toRaw(props)
tabGroup.tabs.push(tab)

const { id, isClosable, isDraggable, isDroppable, title } = toRefs(props)

const isActive = computed((): boolean => tabGroup.active?.id === id.value)

const onActivate = (_event: Event) => {
  // Only emit the event if the tab is not active already
  if (!isActive.value) {
    emit('activate', tab)
  }
}

const tabRef = ref(null)
const { onDragEnd, onDragStart } = useDrag({
  target: tabRef,
  dataType: DATA_TYPES.TAB
})
</script>

<template lang="pug">
a.vula__tab(
  ref='tabRef'
  :id='id'
  :class='{ "vula__tab--active": isActive, "vula--droppable": isDroppable }'
  :draggable='isDraggable'
  @click='onActivate'
  @dragend='onDragEnd'
  @dragstart='onDragStart'
)
  slot(name='title')
    span.vula__tab__title
      | {{ title }}

  slot(v-if='isClosable' name='close')
    button.vula__tab__close(@click.stop='emit("close", tab)')
</template>
