<script lang="ts">
export default { name: 'VulaWindow' }
</script>

<script setup lang="ts">
import { computed, ref, toRefs } from 'vue'
import type { ComputedRef } from 'vue'
import { useDrag } from '@/composables/'
import type { Anonymous, Window } from '@/types/'

interface Props {
  readonly window: Anonymous<Window>
}

interface Style {
  height: string
  width: string
  top: string
  left: string
  zIndex: number
}

const props = defineProps<Props>()
const { window } = toRefs(props)

const id = window.value.id || 'vula--window'

const windowRef = ref(null)

const { isDragging, onDragEnd, onDragStart } = useDrag({
  target: windowRef,
  dataType: 'vula/window'
})

const style: ComputedRef<Style> = computed(() => {
  return {
    height: `${window.value.height}%`,
    width: `${window.value.width}%`,
    top: `${window.value.y}%`,
    left: `${window.value.x}%`,
    zIndex: window.value.z
  }
})
</script>

<template lang="pug">
.vula__window(
  ref='windowRef'
  :id='id'
  :class='{ "vula__window--dragging": isDragging }'
  :draggable='window.isDraggable'
  :style='style'
  @dragend='onDragEnd'
  @dragstart='onDragStart'
)
  | {{ window.id }}
</template>
