<script setup lang="ts">
import { toRefs } from 'vue'
import type { Layout, Pane } from '@/types/'
import { VulaLayout, VulaPane, VulaTabs, VulaTab } from '@/components/'

interface Props {
  layout: Layout
  panes: Record<string, Array<Pane> | Record<string, Pane>>
}

const props = defineProps<Props>()
const { layout, panes } = toRefs(props)
</script>

<template lang="pug">
vula-layout(v-bind='layout')
  vula-pane(v-bind='panes.root.left' :size='20')
    | ID: {{ panes.root.left.id }}

  vula-pane(v-bind='panes.root.right' :size='80')
    vula-pane(v-bind='panes.right.up' :size='40')
      vula-pane(v-bind='panes.rightUp[0]')
        vula-tabs(:tab-group-id='panes.rightUp[0].id')
          vula-tab(v-bind='panes.rightUp[0].tabs[0]')
            | Active Tab 1: {{ panes.rightUp[0].tabs[0].id }}
          vula-tab(v-bind='panes.rightUp[0].tabs[1]')
            b Active Tab 2: {{ panes.rightUp[0].tabs[1].id }}
          vula-tab(v-bind='panes.rightUp[0].tabs[2]')
            i Active Tab 3: {{ panes.rightUp[0].tabs[2].id }}

      vula-pane(v-bind='panes.rightUp[1]' :size='10')
        | 1
      vula-pane(v-bind='panes.rightUp[2]' :size='10')
        | 2

      vula-pane(v-bind='panes.rightUp[3]' :size='30')
        vula-tabs(:tab-group-id='panes.rightUp[3].id' :tabs='panes.rightUp[3].tabs')
          template(#empty)
            b No tabs for pane {{ panes.rightUp[3].id }}

    vula-pane(v-bind='panes.right.middleUp' :size='5')
      | Middle Up
    vula-pane(v-bind='panes.right.middleMiddle' :size='5')
      | Middle Middle
    vula-pane(v-bind='panes.right.middleDown' :size='5')
      | Middle Down

    vula-pane(v-bind='panes.right.down' :size='45')
      vula-pane(v-bind='panes.rightDown[0]' :size='20')
        | ID: {{ panes.rightDown[0].id }}

      vula-pane(v-bind='panes.rightDown[1]' :size='80')
        vula-tabs(:tab-group-id='panes.rightDown[1].id')
          vula-tab(v-for='tab in panes.rightDown[1].tabs' :key='tab.id' v-bind='tab')
            | Tab: {{ tab.id }}
</template>
