<script setup lang="ts">
import { VulaLayout, VulaTab, VulaTabs } from '@/components/'
import { useTabs } from '@/composables/'
import type { Tab } from '@/types/'
import { generateTab } from '../utils/'

/*
 * This example shows how tabs are managed by `useTabs`.
 */

const { active, tabs } = useTabs({
  activeId: 'example1',
  tabs: [
    { id: 'example1', title: 'Example 1', isClosable: true },
    { id: 'example2', title: 'Example 2', isClosable: true },
    { id: 'example3', title: 'Example 3', isClosable: true },
    { id: 'example4', title: 'Example 4', isClosable: true }
  ]
})

const append = (tab: Tab) => tabs.push(tab)

const onActivated = (tab: Tab) => {
  console.log('activated', tab)
}

const onOpened = (tab: Tab) => {
  console.log('opened', tab)
}

const onClosed = (tab: Tab) => {
  console.log('closed', tab)
}
</script>

<template lang="pug">
vula-layout(id='tabs' vertical)
  .menu
    button(type='button' @click='append(generateTab())')
      | Add new tab

  vula-tabs(:active='active.id' @activated='onActivated' @opened='onOpened' @closed='onClosed')
    vula-tab(v-for='tab in tabs' :key='tab.id' v-bind='tab')
      | Tab with ID&nbsp;
      b {{ tab.id }}
      | &nbsp;and title&nbsp;
      b {{ tab.title }}

    template(#empty)
      | No tabs
</template>

<style lang="styl">
.menu
  display block
</style>
