<script setup lang="ts">
import { reactive, ref } from 'vue'
import { VulaLayout, VulaTab, VulaTabs } from '@/components/'
import type { Tab, ID } from '@/types/'
import { generateTab } from '../utils/'

/*
 * This example shows how tabs could be managed by the user instead of with `useTabs`.
 */

// These tabs should be added and removed by the user
const managedTabs = reactive([
  { id: 'x1', title: 'Example 1', isClosable: true },
  { id: 'x2', title: 'Example 2', isClosable: true },
  { id: 'x3', title: 'Example 3', isClosable: true },
  { id: 'x4', title: 'Example 4', isClosable: true }
])

const activeTabId = ref('x3')

const append = (tab: Tab) => {
  managedTabs.push(tab)

  if (tabs.length == 1) {
    activeTabId.value = tab.id
  }
}

const onActivated = (tab: Tab) => {
  console.log('activated', tab)
  activeTabId.value = tab.id
}

const onOpened = (tab: Tab) => {
  console.log('opened', tab)
  activeTabId.value = tab.id
}

/**
 * NOTE: ignoring the removal of a tab, fails because Vula has already removed
 * its internal representation.
 */
const onClosed = (tab: Tab) => {
  console.log('closed', tab)

  const position = managedTabs.findIndex(t => t?.id === tab.id)
  if (position >= 0) {
    managedTabs.splice(position, 1)
  } else {
    throw new Error('Tab not found')
  }
}

const onDrop = (_tab: Tab) => {}
</script>

<template lang="pug">
vula-layout(id='tabs' vertical)
  .menu
    button(type='button' @click='append(generateTab())')
      | Add new tab

  | Reactive active ID: {{ activeTabId }}
  vula-tabs(:active='activeTabId' @activated='onActivated' @opened='onOpened' @closed='onClosed')
    vula-tab(
      v-for='tab in managedTabs'
      :key='tab.id'
      v-bind='tab'
      @drop='onDrop(tab)'
    )
      | Tab with ID {{ tab.id }}

    template(#empty)
      | No tabs
</template>

<style lang="styl">
.menu
  display block
</style>
